

.topImg {
	/*background: #253340 url("../images/background/doorhandle_dark.jpg") no-repeat 50% top;*/
	/*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

    background: url("../images/background/doorhandle_dark.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.referral {
	.topImgText {
		padding-top: 160px;
		padding-bottom: 80px;
		color: white;

		text-shadow: 1px 1px #999;
	}
}

.howWorkVideo {
	margin-top: 30px;
	margin-bottom: 40px;

	h3 {
		margin-bottom: 35px;
	}

	iframe {
		max-width: 560px;
	}
}

.sharingText {
	padding-top: 60px;
	padding-bottom: 60px;

	p {
		font-size: 18px;
	}

	.social {
		i {
			width: 20px;
			height: 20px;
		}
	}

	.border {
		border: solid;
		padding: 5px;
		border-width: 100%;
		background-color: #ddd;
		border-radius: 8px;
	}

	.red {
		font-weight: 500;
		color: rgb(188,81,94);
	}

	.formTop {
		margin-top: 35px;

		.red {
			padding-left: 0px;
		}
	}

	.formBar {
		width: 100%;
		height: 5px;
		background-color: rgb(188,81,94);
	}

	.theForm {
		margin-top: 30px;

		.formInput {
			/*margin-left: 40px;*/
			border: none;
			border-bottom: solid 2px #c9c9c9;
			transition: border 0.3s;
		}

		.formInput:focus {
		    outline-width: 0;
		    border-bottom: solid 2px rgb(188,81,94);
		}

		.text-left {
			padding-left: 0px;	
		}
	}
}

.sendBtn {
	color: #fff;
	background-color: rgb(188,81,94);
	border-radius: 10px;
	width: 16%;
	margin-left: 42%;
	padding-top: 7px;
	padding-bottom: 7px;
}

.sendBtn:hover {
	background-color: #d66f7b;
}

.belowSendBtn {
	width: 60%;
}


/* REFERRED - INVITE PAGE */

.referredJumbotron {
	padding-top: 100px;	

	.freeParkingText {
		padding-top: 50px;
	}
}

.referredMain {

	/*margin-top: 30px;*/
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #e2e2e2;

	.textPadding {
		padding-top: 50px;
	}

	.red {
		color: #bc515e;
	}

	.text1 {
		font-weight: 400;
	}

	.freeParkingImg {
		max-width: 100%;

	}
}

.referredDownload {
	/*margin-top: 30px;*/
	background-color: rgb(188,81,94);

	.row {
		padding-bottom: 25px;
		padding-top: 35px;
	}

	p {
		font-size: 25px;
		font-weight: 100;
		color: white;
	}

	.higherWeight {
		font-weight: 400;
	}

	.smaller {
		font-size: 21px;
	}

	.appDownload {
		max-width: 150px;
	}

	.appDownload1 {
		max-width: 135px;
	}
}

/* === MEDIA QUERIES === */

@media (max-width: 767px) {
	.referral {
		.topImgText {
			padding-top: 100px;
		}	
	}
}

@media (max-width: 992px) {
	.theForm {
		p {
			text-align: center;	
			padding-right: 0px;
		}

		input {
			text-align: center;	
		}

		.sm-margin {
			margin-top: 20px;
		}
	}

	.sendBtn {
		width: 40%;
		margin-left: 30%;
	}

	.referredMain {
		.freeParkingImg {
			max-width: 80%;
			margin-left: 10%;
			padding-top: 30px;
		}
	}
}

@media (min-width: 992px) {

}

.row {
	margin-left: 0px;
}












